:root {
  --clr-very-dark-blue: hsl(238, 29%, 16%);
  --clr-soft-red: hsl(14, 88%, 65%);

  --clr-text-dark: hsl(237, 12%, 33%);
  --clr-text-light: hsl(240, 6%, 50%);
  --clr-gray-divider: hsl(240, 5%, 91%);

  --gradient-bg: linear-gradient(0deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));

  --ff-primary: "Kumbh Sans", sans-serif;

  --fw-bold: 700;
  --fw-regular: 400;

  --fs-primary: 0.75rem;
}

/* Reseter */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style-type: none;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* Reseter */

body {
  color: var(--clr-very-dark-blue);
  font-size: var(--fs-primary);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary);

  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--gradient-bg);
}

main {
  margin: 6rem 1.56rem 0 1.56rem;
  background: white;
  border-radius: 1.5rem;
  max-width: 375px;

  box-shadow: 0 2rem 5rem -1rem hsla(hue(--clr-very-dark-blue), saturation(--clr-very-dark-blue), lightness(--clr-very-dark-blue), 0.5);
}

/* Section Illustration */

.section__illustration {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section__illustration > * {
  max-width: 15rem;
}

.illustration {
  width: 472px;
  height: 359px;
  margin-top: -12.7rem;
  margin-inline: auto;
}

.bg-pattern {
  margin-top: -10.5rem;
  margin-inline: auto;
}

/* Section Faq  */
.section__faq {
  padding: 2rem 1.5rem 3rem 1.5rem;
}

.primary-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.answer {
  color: var(--clr-text-light);
  max-height: 0;
  opacity: 0;
  transition: 200ms ease;
}

.faq-list li {
  padding: 1rem 0;
  border-bottom: 1px solid var(--clr-gray-divider);
}

.faq-list li.active .answer {
  max-height: 10rem;
  opacity: 1;
  margin-top: 0.8rem;
}

.faq-list li.active .question {
  font-weight: var(--fw-bold);
  color: var(--clr-very-dark-blue);
}

.faq-list li.active .question:before {
  rotate: 180deg;
  transform: translateY(50%);
}

.question {
  position: relative;
  cursor: pointer;

  color: var(--clr-text-light);
  font-size: 0.83rem;
}

.question:hover {
  color: var(--clr-soft-red);
}

.question:before {
  content: url("./images/icon-arrow-down.svg");
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.illustration-desktop {
  display: none;
}
.box {
  display: none;
}
.illustration-mobile {
  display: block;
}

/* // MEDIA QUERIES */

@media (min-width: 40em) {
  main {
    margin: 0 1rem;
    position: relative;
    max-width: 57.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .primary-heading {
    text-align: start;
  }
  .section__faq {
    padding: 0;
  }
  .section__illustration > * {
    max-width: none;
  }
  .section__illustration {
    position: relative;
    overflow: hidden;
  }

  .box {
    display: block;
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    z-index: 500;
    left: -5.8rem;
  }
  .section__faq {
    padding: 5rem 6.25rem 5rem 2rem;
  }

  .illustration {
    position: absolute;
    top: 50%;
    left: -5rem;
    transform: translateY(-52%);
    margin-top: 0;
  }

  .bg-pattern {
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-58%);
    left: -35.7rem;
  }

  .question {
    font-size: 0.9rem;
  }
  .answer {
    padding-right: 0.75rem;
  }
  .illustration-desktop {
    display: block;
  }
  .illustration-mobile {
    display: none;
  }
}

/* // ATTRIBUTION AND ANIMATIONS */

.attribution {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 2rem 0 1rem 0;
  text-align: center;
  font-size: 0.85rem;
  color: hsla(230, 8%, 90%);

  a {
    color: hsla(230, 8%, 90%, 0.6);
    transition: 0.2s ease;
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: hsla(230, 8%, 90%, 0.4);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1.5s;
  -webkit-animation: fade-in 1.5s;
}
